:root {
    --colour-selected: #ffc107;
}


body {
    background-color: #212121;
    /*
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    */
}

.btn-dark-yellow,.btn-dark-yellow:focus, .btn-dark-yellow:active, .btn-dark-yellow.active {
    color: var(--colour-selected,var(--colour-selected,#ffc107));
    background-color: #0c0c0c;
    border-color: #0c0c0c;
}

.cssPointerEventsAll {
    cursor: pointer;
    pointer-events: all;
}

.form-check-input:checked {
    background-color: var(--colour-selected,#ffc107);
    border-color: var(--colour-selected,#ffc107);
}

.cssDivThumbName {
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cssIndexYearHeader {
    font-family: "Trebuchet MS",sans-serif;
    overflow: hidden;
    width: 100%;
}

.cssIndexYearHeader + .cssIndexYearHeader {
    display: none;
}

.cssIndexYearHeader {
    width: 100%;
    padding: 2px 0;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #c99804;
    color: black;
    pointer-events: none;
    cursor: auto;
    border-radius: 2px;
}

.cssDivDir {
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    pointer-events: all;
    cursor: pointer;
    line-height: 1;
    padding: 10px 14px;
    border-radius: 4px;
    text-transform: capitalize;
    margin: 0 4px 6px 4px;
    /*margin-bottom: 6px;*/
    background-color: #313131;!important;
}
.cssDirSelected {
    background-color: var(--colour-selected,#ffc107);
    color: black;
}

.cssSwitchAutoplay {
    color: var(--colour-selected,#ffc107);
}
.cssFavsMessage {
    color: grey;
    font-family: "Trebuchet MS", sans-serif;
    font-size: small;
    line-height: 1;
    text-align: justify;
    padding-top: 6px;
}
/* *** Initial settings for PHONE PORTRAIT *** */
.cssColVideo {
    background-color: #0c0c0c;
}
.cssVideoBottomDiv {
    /*max-height: 21px;*/
    padding-bottom: 0;
    padding-top: 4px;
}

.cssDivYears {
    overflow-y: auto;
    overflow-x: hidden;
}
.cssYearBtn {
    cursor: pointer;
    /*pointer-events: all;*/
    font-family: "Trebuchet MS",sans-serif;
    padding: 2px 4px 0 4px;
    margin: 0;
    border-radius: 4px;
    letter-spacing: 0.0rem;
    font-size: medium;
    min-height: 30px;
}

.cssYearBtnFavs {
    min-width: 3.5rem;
    text-align: center;
}


.cssColThumbnails {
    overflow-y: auto;
    overflow-x: hidden;
}
.cssDivThumbnails {
    /* dont set its height so it can flex-shrink-1 to bunch thumbs */
    cursor: auto;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    margin-top: 4px;
    margin-bottom: 4px;
}
.cssDivYearSelect {
    /*max-height: none;*/
    /*overflow: hidden;*/
    /*padding-top: 6px;*/
}
.cssYearSelected {
    background-color: var(--colour-selected,#ffc107);
    color: black;
}
.cssYearUnselected {
    background-color: #212121;
    color: #797979;
}
.cssColourSelected {
    color: var(--colour-selected,#ffc107);
}
.cssBackgroundColourSelected {
    background-color: var(--colour-selected,#ffc107);
}
.cssImgFavourite,.cssImgShare {
    cursor: pointer;
    pointer-events: all;
    max-height: 20px;
    margin: 2px 12px;
}

.cssImgFavsMessage {
    max-height: 12px;
}
.cssMiniImage {
    max-height: 12px;
}

.cssThumbnailImage {
    cursor: pointer;
    pointer-events: all;
    height: 20vh;
    margin-right: 4px;
    margin-bottom: 4px;
}

.cssDivIndexRows {
    pointer-events: none;
    cursor: auto;
    column-count: 2;
}
.cssDivIndexRows > p {
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    pointer-events: all;
    cursor: pointer;
    line-height: 1.1;
    padding: 2px;
    margin: 0;
    border-radius: 4px;
}

.cssDivIndexRows > p:nth-child(odd){
    background:#424242;
}
.cssDivIndexRows > p:nth-child(even){
    background: black;
}

/*
.cssBanding:nth-child(odd){
    background:#313131;
}
.cssBanding:nth-child(even){
    background: black;
}
.cssParaOdd {
    background-color: #313131;!important;
}
.cssParaEven {
    background-color: #212121;!important;
}
 */

.cssDivIndexSearch {
    background-color: #212121;
    color: whitesmoke;
    width: 100%;
    padding-bottom: 4px;
}

/* *** WHEN PHONE LANDSCAPE or wider *** */
@media (min-width: 768px) {
    .cssThumbnailImage {
        height: 30vh;
    }
    .cssDivIndexRows {
        column-count: 3;
    }

}
